.tab{

    position: relative;
    padding: 38px;
    margin: 130px auto;
    align-content: center;
    width: 1520px;
    height: 1000px;
    background: #3c0e78;
  
}

.tab th{

    padding: 8px;
    color: #f8bc1a;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  
}

.tab tr{
    border: 4px solid white;
    font-size: 12px;
}

.tab td{
    color: white;
    padding: 8px;
}

.tablecontrol{
    position: relative; 
    top: 0px; 
    align-items: center;
}